* {
    padding : 0;
    margin : 0;
}

body {
    background : yellow;
    color : black;
background-image:/storage/emulated/0/Android/media/com.whatsapp/WhatsApp/Media/WhatsApp Images/IMG-20230815-WA0013.jpg;
}